services:
  db:
    image: postgres:13
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: 'TodoDB'
      POSTGRES_USER: 'admin'
      POSTGRES_PASSWORD: 'adminus'
      POSTGRES_ROOT_PASSWORD: 'admin2'
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: